body {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

body.modal-open {
  padding-right: 0px;
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.hidden {
  display: none;
}

.caption p {
  color: #156199;
  font-size: 1.25em;
}

/* FADE IN WHEN SCROLLNG EFFECT */
	.star {
		visibility: hidden;
	}

	.fadeIn {
		-webkit-animation: animat_show 0.8s;
		animation: animat_show 0.8s;
		visibility: visible !important;
	}

	@-webkit-keyframes animat_show{
	0%{opacity:0}
	100%{opacity:1}
}

/* DROP SHADOW ON PNG FILES*/
img.shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
}
/* SLIDE IN ON VIEW ANIMATION*/
/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*-------------------------------------
| index.php CSS
-------------------------------------*/
.navbar-inverse {
    background-color: #156199;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle {
   border: none;
}

.navbar-inverse .navbar-toggle:hover {
   background-color: #156199;
}

.navbar-inverse .navbar-toggle:focus {
   background-color: #156199;
}

.navbar-inverse .navbar-nav li a {
   color: #fff;
   font-size: 16px;
}

.navbar-inverse .navbar-nav li:hover {
   background-color: #156199;
}

.navbar-brand {
   padding-top: 4.5px;
}

div#myCarousel {
    background: #92c5eb; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#92c5eb, #c1e1eb); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#92c5eb, #c1e1eb); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#92c5eb, #c1e1eb); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#92c5eb, #c1e1eb); /* Standard syntax */
}

div#myCarousel.carousel.slide {
    margin-top: -20px;
}

#myCarousel h1 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    padding: 2em 1.5em 0em 1.5em;
    text-shadow: 0px 1px 5px #000;
}

.carousel-inner img {
   padding-bottom: 2em;
}

img.flip{
    transform: rotate(90deg);
    margin-right: 1em;
}

.carousel-inner p {
   font-size: 1.4em;
   color: #fff;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   opacity: 1;
}

.carousel-control.left span, .carousel-control.right span {
   font-size: 1.5em;
}

div.about {
   text-align: center;
   padding-left: 3em;
   padding-right: 3em;
   padding-bottom: 1em;
   color: #156199;
}

div.about h2 {
   padding-bottom: .2em;
}

div.about p {
   text-align: left;
   font-size: 1.2em;
}

.subTitle {
   margin-top: -20px;
}

.subTitle h2 {
   text-align: center;
   color: #fff;
   background-color: #156199;
   padding-top: 1em;
   padding-bottom: 1em;
   margin-bottom: 0em;
}

div.container {
  margin-top: 2em;
}

div.BnA {
	display: flex;
}

div.BnA .before {
	flex: 2;
   text-align: center;
   padding-top: .25em;
   padding-bottom: .25em;
   color: #156199;
   font-size: 1.225em;
}

div.BnA .after {
	flex: 2;
   text-align: center;
   padding-top: .25em;
   padding-bottom: .25em;
   color: #156199;
   font-size: 1.25em;
}

div.BnA .CC {
	flex: 2;
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
   color: #156199;
   font-size: 1.225em;
   background-color: #dee788;
}

div.BnA .PS {
	flex: 2;
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
   color: #156199;
   font-size: 1.25em;
   background-color: #dee788;
}

div.BnA .before:hover {
   cursor: pointer;
}

div.BnA .after:hover {
   cursor: pointer;
}

div.BnA .CC:hover {
   cursor: pointer;
   opacity: .75;
}

div.BnA .PS:hover {
   cursor: pointer;
   opacity: .75;
}

.instruction {
	text-align: center;
	color: #156199;
  padding-top: 10em;
  padding-bottom: 10em;
}

.instruction i {
  font-size: 3em;
  color: #dee788;
}

div.B2T {
	padding: 0px 10px 15px 0px;
}

 div.services {
   margin-top: 20px;
 }

 .contact {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact h2 {
   text-align: center;
   color: #fff;
      background-color: #156199;
   padding-top: 1em;
   padding-bottom: 1em;
   margin-top: 0em;
}

#sendButton {
   position: relative;
   right: 1em;
   background-color: #dee788;
   border: none;
   color: #156199;
   font-size: 1.5em;
   padding: 8px 20px 5px 20px;
   margin-left: 5px;
}

#sendButton:hover {
   background-color: #156199;
   color: #fff;
}

footer {
   background-color: #156199;
   text-align: center;
   padding-bottom: 2em;
}

footer img {

   padding-bottom: 2em;
}

.contactLinks {
  text-align: center;
  padding-top: 2em;
}

.email {
  color: #fff;
  padding-bottom: 1.5em;
  padding-right: 3em;
  text-align: center;
}

.email i {
  margin-left: 2em;
}

.email p {
  display: inline-block;
  margin-left: 2em;
}


.number {
  color: #fff;
  padding-bottom: 1.5em;
  padding-right: 3em;
  text-align: center;
}

.number i {
  margin-left: .6em;
}

.number p {
  display: inline-block;
  margin-left: 2em;
}

.number2 {
  color: #fff;
  padding-bottom: 1.5em;
  padding-right: 3em;
  text-align: center;
}

.number2 i {
  margin-left: 1.4em;
}

.number2 p {
  display: inline-block;
  margin-left: 2em;
}

div.number a {
   color: #fff;
}

div.number2 a {
   color: #fff;
}

.copyright {
   color: #fff;
}

